*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6, p{
    padding: 0;
    margin: 0;
}
/* .container{
    width: 1170px;
    margin: 0 auto;
} */
:root{
    --blue:#231f40;
    --red:#F82348;
    --white:#ffff;
    --pera_color:#484747;
    --pera_font:'Manrope', sans-serif;
    --styl_header:'Oleo Script', cursive;
    --heading_font:'Barlow', sans-serif;
    --offer_font:"Italianno", cursive;
    --boxShadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}


/* font-family: 'Barlow', sans-serif;
font-family: 'Manrope', sans-serif; */
/* font-familly: 'Oleo Script', cursive;
font-family: "Italianno", cursive; */

/* ========= Header Area Here =========== */
#herader{
    height: 50px;
    background-color: var(--blue);
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_info{
    padding: 0 70px 0 50px;
    background-color: var(--red);
    height: 50px;
    display: flex;
    align-items: center;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.header_info__email{
    color: var(--white);
    margin:0 10px;
    transition: all linear 0.3s;
}
.header_info__email__icone{
    color: var(--white);
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    transition: all linear 0.3s;
}
.header_info_left{
    cursor: pointer;
}
.header_info_left:hover .header_info__email{
    color: var(--blue);
}
.header_info_left:hover .header_info__email__icone{
    color: var(--blue);
}
.header_icon_wrapper{
    display: flex;
    gap: 10px;
}
.header__icon {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    background-color: var(--red);
    border-radius: 50%;
    color: var(--white);
    transition: all linear 0.3s;
}
.header__icon:hover{
    background-color: var(--white);
    color: var(--red);
}
/* ========= Nav Bar Area Here =========== */
.backclor{
    background-color: var(--white);
}
.nav_wrapper{
    display: flex;
    justify-content: flex-end;
}
.nav_logo_box{
    width: 150px;
    height: 50px;
    overflow: hidden;
}
.nav__logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cstm_cs_nav{
    padding-right: 200px;
}
.nav_icone_wrapper{
    display: flex;
    gap: 30px;
}
.navbar__icon{
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--blue);
    background-color:rgba(255, 0, 0, 0.182);
    transition: all linear 0.3s;
}
.navbar__icon:hover{
    background-color: var(--red);
    color: var(--white);
}
.nav-item{
    position: relative;
    margin: 0 10px;
}
.nav-link{
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: var(--pera_font);
}
.nav-link::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--red);
    left: 0;
    bottom: -50%;
    transition: all linear 0.3s;
}
.nav-link:hover::after{
    width: 100%;
}
.nav-link:hover{
    color: #F82348;
}
/* ========= Banner Area Here =========== */
#banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.banner_content{
    background:linear-gradient(#231f40c4,#231f40c4), url(../images/banner_bg\ \(1\).jpg);
    background-size: 100% auto;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.banner_text{
    padding: 70px 0;
}
.banner__heading{
    color: var(--red);
    font-family: var(--styl_header);
    font-size: 35px;
    font-weight: 500;
}
.banner__subheading{
    color: var(--white);
    font-family: var(--heading_font);
    font-size: 60px;
    font-weight: 700;
    padding-top: 30px;
}
.banner__pera{
    color: var(--white);
    font-family: var(--pera_font);
    font-size: 20px;
    padding: 30px 0;
}

/* ========= cmn_btn start =========== */
.cmn_btn{
        background: var(--red);
        text-transform: capitalize;
        color: var(--white);
        padding: 12px 40px 12px 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: 6px 3px 2px rgba(0,0,0,.2);
        transition: all linear .3s;
        position: absolute;
        left: 412px;
        top: 17px;
        border: none;
        overflow: hidden;
        transform: perspective(500px) ;
}
.cmn_btn::after {
    position: absolute;
    content: "";
    left: -41px;
    top: 10px;
    width: 40px;
    height: 28px;
    background-image: url(../images/arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all linear 0.3s;
}
.cmn_btn:hover::after{
    left: 5px;
}
.cmn_btn:hover{
    transform: perspective(500px) ;
    text-shadow: -6px 3px 2px rgba(0,0,0,.2);
    background-color: var(--blue);
    padding: 12px 25px 12px 55px;
}
.cmn_btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(35deg, transparent, #ffff, transparent);
    transition: .3s;
    opacity: 0.35;
}
.cmn_btn:hover::before{
    left: 100%;
}
/* ========= cmn_btn end =========== */
.banner_btn input {
    border-radius: 30px;
    border-color: #ddd;
    padding: 20px 329px 20px 20px;
}
.banner_btn {
    background: var(--white);
    padding: 30px 10px;
    border-radius: 80px;
    position: relative;
}
.banner_img{
    position: absolute;
    border-radius: 50%;
    top: 35px;
    right: 110px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.offer{
    position: absolute;
    top: 50px;
    right: 470px;
    width: 150px;
    height: 150px;
    background-color: var(--red);
    border: 5px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discout__offer{
    font-family: var(--styl_header);
    font-size: 37px;
    color: var(--white);
    font-weight: 700;
}
/* ========= Daily Offer Area Here =========== */
#Daily_offer{
    padding: 120px 0;
    background-color: #EEF6EB;
}
/* ======cmn header start =========== */
.offer_header{
    font-family: var(--styl_header);
    color: var(--red);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.offer_header::after {
    position: absolute;
    content: "";
    left: 123px;
    top: -5px;
    background-image: url(../images/heading_shapes_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 82px;
    height: 30px;
}
.offer_title{
    font-family: var(--heading_font);
    color: var(--blue);
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;

}
.slider_iconWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.offer_arrow_prv, .offer_arrow_next{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    background-color: var(--red);
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: var(--white);
    transition: all linear 0.3s;
    cursor: pointer;
}
.offer_arrow_prv:hover{
    background-color: var(--blue);
    color: var(--white);
}
.offer_arrow_next:hover{
    background-color: var(--blue);
    color: var(--white);
}
/* ======cmn header end =========== */
.offer_item_wrapper{
    padding-top: 40px;
}
.offer_info_wrapper{
    margin: 0 15px;
}
.offer_item{
    width: 100%;
    height: 220px;
    background-color: #ffff;
    position: relative;
}
.item-inner{
    background-image: url(../images/offer_item_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}
.offerCard__title{
    font-family: var(--heading_font);
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.item-inner:hover .offerCard__title{
    color: var(--red);
}
.offerCard__pera{
    font-family: var(--pera_font);
    color: var(--pera_color);
    font-size: 16px;
    font-weight: 400;
}
.offer_icon_wrapper{
    display: flex;
    gap: 10px;
}
.offer__icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
    background-color: var(--red);
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    transition: all linear 0.3s;
    cursor: pointer;
}
.offer__icon:hover{
    background-color: var(--blue);
    color: var(--white);
}
.item_inner_two{
    background-image: url(../images/offer_item_img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}
.item_inner_two:hover .offerCard__title{
    color: var(--red);
}
.item_inner_four{
    background-image: url(../images/offer_item_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}
.item_inner_four:hover .offerCard__title{
    color: var(--red);
}
/* ===== Cmn Offer Ciecle ======= */
.offer_circle {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--red);
    left: 121px;
    top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle__text{
    font-family: var(--heading_font);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    padding: 10px;
}
.offer_item_wrapper{
    display: flex;
}
/* ===== Book Table Area Here======= */
#booking{
    padding: 100px 0;
}
.bgbooking{
    background-image: url(../images/reservation_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position:relative;
    border-radius: 20px;
}
.bgbooking::after{
    position:absolute;
    content:"";
    left:0;
    top:0;
    background-color:var(--red);
    width:100%;
    height:100%;
    clip-path: polygon(54% 0, 100% 0%, 100% 100%, 38% 100%);
    opacity: 90%;
    border-radius: 20px;
}
.booking_form{
    z-index: 1;
    position: relative;
    padding: 50px 50px 10px 50px;
}
.booking_formtwo{
    z-index: 1;
    position: relative;
    padding: 10px 50px;
}
.booking_formthree{
    z-index: 1;
    position: relative;
    padding: 10px 50px;
}
.booking_formfour{
    z-index: 1;
    position: relative;
    padding: 10px 50px 50px 50px;
}
.text_innr{
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #eee;
    font-size: 16px;
    font-weight: 300;
}
.booking_form h2{
    font-family: var(--heading_font);
    font-size:30px;
    font-weight:600;
    text-transform:capitalize;
    border-bottom:1px solid white;
    margin-bottom:25px;
    color: var(--white);
    padding: 0 0 6px 0 !important;
}
.info_nam{
    color: var(--white);
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family: var(--pera_color);
}
/* ======= cmn btn =============== */
.bkn_cmn_btn {
    background: var(--blue);
    text-transform: capitalize;
    color: var(--white);
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 6px 3px 2px rgba(0,0,0,.2);
    transition: all linear .3s;
    border: none;
    overflow: hidden;
    transform: perspective(500px);
}
.bkn_cmn_btn::after {
    position: absolute;
    content: "";
    left: -41px;
    top: 10px;
    width: 40px;
    height: 28px;
    background-image: url(../images/arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all linear 0.3s;
}
.bkn_cmn_btn:hover::after{
    left: 5px;
}
.bkn_cmn_btn:hover{
    transform: perspective(500px) ;
    text-shadow: -6px 3px 2px rgba(0,0,0,.2);
    padding: 12px 25px 12px 55px;
}
.bkn_cmn_btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(35deg, transparent, #ffff, transparent);
    transition: .3s;
    opacity: 0.35;
}
.bkn_cmn_btn:hover::before{
    left: 100%;
}
/* ======= cmn btn =============== */
/* ======== Food Manu Area Here ========== */
#food_menu{
    padding: 50px 0;
}
/* ========= Cmn Header Start =========== */
.menu_header{
    font-family: var(--styl_header);
    color: var(--red);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.menu_header::after {
    position: absolute;
    content: "";
    left: 123px;
    top: -5px;
    background-image: url(../images/heading_shapes_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 82px;
    height: 30px;
}
.menu_title{
    font-family: var(--heading_font);
    color: var(--blue);
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 30px;
}
/* ========= Cmn Header End =========== */
.menu_mixit_wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}
.menu_mixit_btn{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.menu__btn{
    padding: 5px 20px;
    font-family: var(--pera_font);
    font-size:16px;
    color:var(--red);
    border:1px solid var(--red);
    text-transform: capitalize;
    border-radius: 5px;
    transition:all linear 0.4s;
}
.menu__btn:hover{
    color:var(--white);
    background-color: var(--red);
}
.menu_mixit_item{
    margin: 30px 0 0 12px;
    position: relative;
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}
.menu_item_img {
    height: 220px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.menu_item_text {
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu_item_text .category {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--white);
    font-family: var(--styl_header);
    position: absolute;
    top: -16px;
    right: 0;
    background: var(--red);
    padding: 3px 15px;
    box-shadow: var(--boxShadow);
    border-radius: 4px 0px 0px 4px;
    transition: all linear .3s;
}
.menu_item_text .category:hover {
    color: var(--blue);
}
.menu_item_text .title {
    text-transform: capitalize;
    color: var(--blue);
    font-size: 20px;
    font-family: var(--heading_font);
    font-weight: 700;
    margin-bottom: 12px;
    display: block;
    text-align: center;
    transition: all linear .3s;
}
.menu_item_text .title:hover {
    color: var(--red);
}
.menu_item_text .reating {
    color: var(--red);
    font-size: 16px;
    text-align: center;
}
.menu_item_text .reating span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    color: var(--pera_color)
}
.menu_item_text .reating span::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background: var(--pera_color);
    top: 11px;
    left: 4px;
}
.menu_item_text .price {
    font-size: 22px;
    font-weight: 700;
    color: var(--red);
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_item_text .price del {
    color: #736f6f;
    margin-left: 7px;
    font-size: 18px;
    font-weight: 500;
}
.add_cart_wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.menu_item_text .add_cart_wrapper .add_to_cart {
    position: absolute;
    left: -12px;
    bottom: 25px;
    background: var(--red);
    padding: 6px 25px 6px 25px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    border-radius: 0px 4px 4px 4px;
    transition: all linear .3s;
}
.menu_item_text .add_cart_wrapper .add_to_cart::after {
    position: absolute;
    content: "";
    top: -19px;
    left: 0px;
    z-index: 1;
    transition: all linear .3s;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 13px solid var(--red);
    border-bottom: 0 solid transparent;
}
.menu_item_text .add_cart_wrapper .add_to_cart:hover {
    background: var(--blue);
}
.menu_item_text .add_cart_wrapper .add_to_cart:hover::after {
    border-right: 13px solid #000000;
}
.add_cart_wrapper .adcr_icn{
    font-size: 16px;
    line-height: 27px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 4px;
    transition: all linear 0.3s;
}
.add_cart_wrapper .adcr_icn:hover{
    background-color: var(--red);
    color: #ffff;
}
/* =========  Team Area Here  =========== */
/* ======cmn header start =========== */
.offer_header{
    font-family: var(--styl_header);
    color: var(--red);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.offer_header::after {
    position: absolute;
    content: "";
    left: 123px;
    top: -5px;
    background-image: url(../images/heading_shapes_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 82px;
    height: 30px;
}
.offer_title{
    font-family: var(--heading_font);
    color: var(--blue);
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;

}
.slider_iconWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.clck_arrow_prv, .clck_arrow_next{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    background-color: var(--red);
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: var(--white);
    transition: all linear 0.3s;
    cursor: pointer;
}
.clck_arrow_prv:hover{
    background-color: var(--blue);
    color: var(--white);
}
.clck_arrow_next:hover{
    background-color: var(--blue);
    color: var(--white);
}
/* ======cmn header end =========== */

.team_mrmber_wrapper{
    padding-top: 40px;
}
.single_team {
    border-radius: 10px;
    background: var(--white);
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    transition: all linear .3s;
    margin: 0 15px;
}
.single_team::before {
    position: absolute;
    content: "";
    background: url(../images/chefs_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 150px;
    bottom: 0px;
    left: -15px;
    transform: rotate(45deg);
    opacity: .04;
}
.single_team_img {
    width: 200px;
    height: 200px;
    border: 10px solid var(--white);
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    background: var(--red);
    position: relative;
    z-index: 1;
    transition: all linear .3s;
}
.single_team_img img {
    border-radius: 50%;
    transition: all linear .3s;
}
.single_team::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30%;
    background: var(--red);
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
}
.single_team_text h4 {
    text-transform: capitalize;
    color: var(--pera_color);
    font-size: 24px;
    font-family: var(--heading_font);
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 30px 0px 5px 0px;
    transition: all linear .3s;
}
.single_team_text p {
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: var(--pera_color);
}
.single_team_text .team_icon_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 27px;
}
.single_team_text .team_icon_wrapper a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ff7c0821;
    color: var(--red);
    font-size: 16px;
    margin: 0px 5px;
    border-radius: 50%;
    transition: all linear .3s;
}
.single_team_text .team_icon_wrapper a:hover{
    background-color: var(--red);
    color: var(--white);
}
/* ========= Offer Slider Area Here =========== */
#offer_slider{
    margin:75px 0;
}
.add_slider_single, .add_slider_right{
    background-image: url(../images/offer_slider_1.png);
    background-position:cover;
    background-repeat:no-repeat;
    background-size:cover;
    padding:40px;
    position:relative;
    overflow:hidden;
    margin-top:25px;
    border-radius:10px;
}
.add_slider_right{
    background-image: url(../images/offer_slider_2.png);
}
.slider_text{
    width:50%;
    position:relative;
    z-index:1;
    padding-bottom:10px;
}
.slider_text h5 {
    font-family: var(--styl_header);
    color: var(--red);
    text-transform: capitalize;
    font-size: 20px;
}
.slider_text h2 {
    color: var(--blue);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin-top: 10px;
}
.slider_text p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
    margin-bottom: 30px;
}
.slider_text a {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    padding-bottom: 3px;
    transition: all linear .3s;
}
.slider_text a:hover {
    color: var(--red);
    border-color: var(--red);
}
/* ======== Easy Order Area Here =========== */
.easy_order_wrapper{
    margin-right: 0 !important;
}
.easy_download{
    background-image: url(../images/download_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 450px;
}
.download_text_overlay {
    background: #231f40cc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    flex-wrap: wrap;
}
.download_text_overlay h5 {
    color: var(--red);
    text-align: center;
    font-size: 25px;
    font-family: var(--styl_header);
}
.download_text_overlay h2 {
    text-align: center;
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}
.download_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.download_icon a {
    background: var(--red);
    padding: 8px 18px;
    border-radius: 5px;
    display: flex;
    margin: 0px 5px;
    transition: all linear .3s;
}
.download_icon a:hover{
    background-color: #ff7c08;
}
.download_text_overlay .download_icon a .icon {
    font-size: 35px;
    color: var(--white);
    margin-right: 14px;
}
.download_text_overlay .download_icon a p {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
}
.download_text_overlay .download_icon a p span {
    display: block;
    color: var(--white);
    font-size: 14px;
    line-height: 20px;
}
.order_img_inner{
    height: 450px;
    margin: 0 10px;
}
.order_img_inner img{
    object-fit: cover;
    height: 100% ;
}
/* ========= Testimonial Area Here =========== */
#testimonial{
    padding: 75px 0;
    background-image: url(../images/testimonial_bg.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.testimonial_inner {
    position: relative;
    margin-top: 105px;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 105px 12px 0 12px;
}
.testimonial_img {
    width: 150px;
    height: 150px;
    border: 5px solid var(--white);
    box-shadow: var(--boxShadow);
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0;
    position: absolute;
    z-index: 9;
    top: -80px;
}
.testimonial_text {
    background: var(--blue);
    padding: 90px 30px 40px 30px;
    border-radius: 25px;
    position: relative;
    -webkit-border-radius: 25px;
    z-index: 1;
}
.testimonial_inner::after {
    position: absolute;
    content: "";
    background: var(--red);
    width: 50%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: 25px;
}
.testimonial_text h4 {
    text-align: center;
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
    position: relative;
}
.testimonial_text h4::after, .testimonial_text h4::before {
    position: absolute;
    content: "";
    background: url(../images/testi_quot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 15px;
    z-index: 1;
}
.testimonial_text h4::before {
    transform: rotate(180deg);
    left: auto;
    right: 15px;
    -webkit-transform: rotate(180deg);
}
.testimonial_text .designation {
    color: var(--white);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.testimonial_text .feedback {
    color: #e7e5e5;
    text-align: center;
    margin: 20px 0px 25px 0px;
    font-size: 16px;
    font-weight: 400;
}
.testimonial_text .reating {
    font-size: 18px;
    text-align: center;
    color: var(--red);
    display: block;
}
.testimonial_arrow_prv, .testimonial_arrow_next{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    background-color: var(--red);
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: var(--white);
    transition: all linear 0.3s;
    cursor: pointer;
}
.testimonial_arrow_prv:hover{
    background-color: var(--blue);
    color: var(--white);
}
.testimonial_arrow_next:hover{
    background-color: var(--blue);
    color: var(--white);
}
/* ======cmn header end =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */
/* ========= Header Area Here =========== */